argument
{
    display:          table-row;
    /*padding:          20px;*/
    vertical-align:   middle;
    color:            #000;
    /*background-color: #fff;*/
}

argument_name
{
    display:          table-cell;
    padding:          10px;
    vertical-align:   middle;
    /*background-color: #fff;*/
}