button
{
    display:          inline-block;
    margin-top:       15px;
    margin-right:     10px;
    padding:          9px 13px;
    border:           none;
    border-radius:    2px;
    outline:          none;
    cursor:           pointer;
    transition:       box-shadow 0.05s linear;
    box-shadow:       1px 1px 2px 0px #656464;
    background-color: #B1CCCB;
    color:            #487F7E;
}

button:active
{
    box-shadow:       1px 1px 2px 0 #fff;
}