<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">

    <style>
        body, html
        {
            position: absolute;
            padding:  0;
            margin:   0;
            top:      0;
            bottom:   0;
            left:     0;
            right:    0;
            overflow: auto;
        }
    </style>

    <script src="js/API.js"></script>

    <script src="js/view creator.js"></script>

    <link rel="stylesheet" type="text/css" href="css/type.css">
    <script src="js/type.js"></script>

    <link rel="stylesheet" type="text/css" href="css/checkbox.css">
    <script src="js/checkbox.js"></script>

    <link rel="stylesheet" type="text/css" href="css/text_input.css">
    <script src="js/text_input.js"></script>

    <link rel="stylesheet" type="text/css" href="css/list.css">
    <script src="js/list.js"></script>

    <link rel="stylesheet" type="text/css" href="css/window_divider.css">
    <script src="js/window_divider.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vertical_space.css">
    <script src="js/vertical_space.js"></script>

    <link rel="stylesheet" type="text/css" href="css/button.css">
    <script src="js/button.js"></script>

    <link rel="stylesheet" type="text/css" href="css/input_text.css">
    <script src="js/input_text.js"></script>

    <link rel="stylesheet" type="text/css" href="css/label.css">
    <script src="js/label.js"></script>

    <link rel="stylesheet" type="text/css" href="css/divider.css">
    <script src="js/divider.js"></script>

    <link rel="stylesheet" type="text/css" href="css/inner_block.css">
    <script src="js/inner_block.js"></script>

    <link rel="stylesheet" type="text/css" href="css/combobox.css">
    <script src="js/combobox.js"></script>

    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <script src="js/menu.js"></script>

    <link rel="stylesheet" type="text/css" href="css/cell.css">
    <script src="js/cell.js"></script>

    <link rel="stylesheet" type="text/css" href="css/branch_selector.css">
    <script src="js/branch_selector.js"></script>

    <link rel="stylesheet" type="text/css" href="css/variable.css">
    <script src="js/variable.js"></script>

    <link rel="stylesheet" type="text/css" href="css/function.css">
    <script src="js/function.js"></script>

    <link rel="stylesheet" type="text/css" href="css/block.css">
    <script src="js/block.js"></script>

    <link rel="stylesheet" type="text/css" href="css/arguments.css">
    <script src="js/arguments.js"></script>

    <link rel="stylesheet" type="text/css" href="css/argument.css">
    <script src="js/argument.js"></script>

    <link rel="stylesheet" type="text/css" href="css/constant.css">
    <script src="js/constant.js"></script>

    <link rel="stylesheet" type="text/css" href="css/argument_menu.css">
    <script src="js/argument_menu.js"></script>

    <link rel="stylesheet" type="text/css" href="css/rectangle.css">
    <script src="js/rectangle.js"></script>

    <script src="js/graphics.js"></script>
</head>
<body>
    <script src="js/compiler.js"></script>
</body>
</html>